node_modules
.nx
dist
.next
.git
.gitignore
.env
.env.local
.env.*.local
*.md
!prisma/**
LICENSE
.vscode
.idea
coverage
tmp
*.log
apps/api/dist
apps/dashboard/.next
apps/landing/.next
apps/api-e2e
apps/dashboard-e2e
